.ShotBasket{
    width:16%;
    background-color: rgb(73, 73, 68);
    margin-top:1rem
}

.good{
    display: flex;
    justify-content:space-between;
    border-radius:5px;
    border:1px solid grey;
    margin:2px
}

.li{
    list-style-type:none;
    color: white;
}

.good button{
    color:red
}

.basketShots{
    align-items:center;
    display: flex;
    justify-content:space-between;
    background-color:rgb(39, 38, 38);
}

.basketShots span{
    color: rgb(234, 243, 234);
    font-size: 1rem;
    margin: 1rem 0;
}

.span{
    position: absolute;
    top:4.1rem;
    right:12.8rem;
}

.bag{
    color:white;
    font-size:2rem;
}

