.Header{
    width:70%;
    height: 40px;
    background-color:grey;
    display: flex;
    justify-content:space-around;
    align-items:center;
    border-radius:20px;
}

.Header a{
    text-decoration:none;
    font-size: 2rem;
    color: white;
}

.Header a:hover{
    color: green;
}
